<tr>
  <th scope="row">{{idProducto}}</th>
  <td>{{NombreProducto}}</td>
  <td class="d-none d-lg-table-cell">{{DescripcionProducto}}</td>
  <td><img src= alt=`"{{PathImagenProducto}}"`></td>
  <td class="tablaBoton">
    <button type="button" class="btn btn-primary">Editar</button> 
    <button type="button" class="btn btn-danger">Eliminar</button>
    <button type="button" class="btn btn-secondary">Habilitado</button>
  </td>
</tr>